* {
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-image: url(../images/banner2-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
	overflow: hidden;
}

form {
    background-color: rgba(153, 5, 34, 0.808);
    border-radius: 10%;
}

i {
    color: rgba(220, 20, 60, 0.5);
}

.profile-pic img {
    width: 10rem;
    height: 10rem;
}

.username .bx {
    position: absolute;
    padding: 1.5rem;
    pointer-events: none;
}

.password .bx {
    position: absolute;
    padding: 1.5rem;
    pointer-events: none;
}

.btn {
    background-color: rgba(158, 7, 7, 0.6);
    color: white;
}

.btn:hover {
    background-color: rgba(158, 7, 7, 0.4);
    color: white;
}